<h1>All Posts</h1>
<hr />

<!-- loop all of the posts and output some info about them -->
<ul>
	<% @posts.each do |post| %>
		<li> <%= post.title %> - 
		<%= link_to 'Show', post_path(post) %> - 
		<%= link_to 'Edit', edit_post_path(post) %> - 
		<!-- changes http request -->
		<%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure you want to delete this post?'} %>
		</li>
	<% end %>
</ul>

<%= link_to 'New Post', new_post_path %>
<!-- <a href='/post/new'>New Post</a> -->