<h1> <%= @post.title %> </h1>
<hr />

<p>
	Author: 
	<i> <%= @post.author %></i>
</p>

<blockquote>
	<%= @post.body %>
</blockquote>

<h6> 
	Is Public: <%= @post.public ? 'Yes' : 'No' %>
</h6>
<!-- :back -> :back -->
<%= link_to 'Back', posts_path %>